<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BookStoreContextConnStr" providerName="System.Data.SqlClient" connectionString="Data Source=DEVELOPER\SQLEXPRESSR2;Initial Catalog=BookStore;Integrated Security=True;" />
  </connectionStrings>
</configuration>